<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
    <PropertyGroup>
        <Standalone>False</Standalone>
        <SelfContained>False</SelfContained>
        <PublishTrimmed>False</PublishTrimmed>
    </PropertyGroup>

    <Import Project="publish.props" />
    <!-- The archive will be done in a separate step, as publish needs to be called twice (to provide executables for Windows and Linux) -->
</Project>
