<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
    <PropertyGroup>
        <Standalone>True</Standalone>
        <SelfContained>True</SelfContained>
        <PublishTrimmed>False</PublishTrimmed>
        <RuntimeIdentifier>linux-$(Platform)</RuntimeIdentifier>
    </PropertyGroup>

    <Import Project="publish.props" />
    <!--Inactive until we officially provide self-contained packages-->
    <!--<Target Name="ZipArchives"
            AfterTargets="Publish">
        <Message Text="PublishDir = '$(PublishDir)" Importance="High" />
        <Message Text="Zipping to '$(PublishDir)/../../SilKitFmuImporter-$(Version).zip'..." Importance="High" />
        <ZipDirectory SourceDirectory="$(PublishDir)/../"
                      DestinationFile="$(PublishDir)/../../SilKitFmuImporter-$(Version)-$(RuntimeIdentifier).zip"
                      Overwrite="True" />
    </Target>-->
</Project>
