<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
    <PropertyGroup>
        <Standalone>True</Standalone>
        <SelfContained>True</SelfContained>
        <PublishTrimmed>False</PublishTrimmed>
        <RuntimeIdentifier>osx-$(Platform)</RuntimeIdentifier>
    </PropertyGroup>

    <Import Project="publish.props" />
</Project>
