name: Build & test the SIL Kit FMU Importer (internal)

# Define the triggers for this workflow
on:
  pull_request:
    types: [opened, reopened, synchronize]

concurrency:
  group: build-fmu-importer
  cancel-in-progress: false

jobs:
  build-windows:
    runs-on: [self-hosted, Windows, ska]

    steps:
    # Check out this Git repo
    - uses: actions/checkout@v4

    - name: Build & Publish
      run: dotnet build ./FmuImporter/BuildAll/Build.csproj -v:m

    - name: Build Tests
      run: dotnet build ./FmuImporter/BuildAll/BuildTests.csproj -v:m
    - name: Run Tests
      run: dotnet test ./FmuImporter/_build/crossplatform-x64-Release/FmuImporter.Tests.dll --results-directory ./FmuImporter/_testResults --logger:"html;LogFilePrefix=testResults;verbosity=detailed"
    
    - name: Upload test results
      uses: actions/upload-artifact@v3
      env:
        http_proxy: ""  # Explicitly disable the proxy for Node.js
        https_proxy: ""  # Explicitly disable the proxy for Node.js
      with:
        name: fmu-importer-win-x64-test-result
        retention-days: 14
        path: ./FmuImporter/_testResults

  # Build the project, then remove the built artifacts
  build-linux:
    runs-on: [Linux, self-hosted, ska]
    container:
      image: pnd-sil-kit-adapters-docker-prod.vegistry.vg.vector.int/sil_kit_adapters_ci_workflow:ubuntu2404_build
      credentials:
        username: ${{ secrets.ARTIFACTORY_USERNAME }}
        password: ${{ secrets.ARTIFACTORY_TOKEN }}
      options: --privileged

    steps:
    - name: cleanup
      run: |
        rm -rf ./*

    # Check out this Git repo
    - uses: actions/checkout@v4

    - name: Restore packages
      run: dotnet restore ./FmuImporter/BuildAll/Build.csproj

    - name: Build & Publish
      env:
        HTTP_PROXY: ${{ secrets.PROXY }}
        HTTPS_PROXY: ${{ secrets.PROXY }}
        NO_PROXY: ${{ secrets.NO_PROXY }}
      run: dotnet build ./FmuImporter/BuildAll/Build.csproj -v:m --no-restore -p:RestoreDuringBuild=false -p:Restore=false

    - name: Restore test packages
      run: dotnet restore ./FmuImporter/BuildAll/BuildTests.csproj

    - name: Build Tests
      run: dotnet build ./FmuImporter/BuildAll/BuildTests.csproj -v:m --no-restore -p:RestoreDuringBuild=false -p:Restore=false
    - name: Run Tests
      run: dotnet test ./FmuImporter/_build/crossplatform-x64-Release/FmuImporter.Tests.dll --results-directory ./FmuImporter/_testResults --logger:"html;LogFilePrefix=testResults;verbosity=detailed"
    
    - name: Upload build artifact
      uses: actions/upload-artifact@v3
      env:
        http_proxy: ""  # Explicitly disable the proxy for Node.js
        https_proxy: ""  # Explicitly disable the proxy for Node.js
      with:
        name: fmu-importer-x64-build
        retention-days: 14
        path: ./FmuImporter/_publish/*.zip
    
    - name: Upload test results
      uses: actions/upload-artifact@v3
      env:
        http_proxy: ""  # Explicitly disable the proxy for Node.js
        https_proxy: ""  # Explicitly disable the proxy for Node.js
      with:
        name: fmu-importer-linux-x64-test-result
        retention-days: 14
        path: ./FmuImporter/_testResults
    
    - if: always()
      run: rm -rfv * .??*

  run-integration-tests:
    needs: [build-windows, build-linux]
    uses: pnd/sil-kit-fmu-importer-supplements/.github/workflows/testAutomation.yaml@main
    with:
      fmu-importer-version: 1.5.0
      branch-name: ${{ github.ref_name }}
      commit-full-sha: ${{ github.sha }}
    secrets: inherit
