name: Build the SIL Kit FMU Importer (.NET 6) [internal profile]


# Define the triggers for this workflow
on:
  push:

jobs:
  build-windows:

    runs-on: windows

    steps:
    # Check out this Git repo
    - uses: actions/checkout@v3

    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '6.0.x'

    - name: Build & Publish
      run: dotnet build ./FmuImporter/BuildAll/Build.csproj -v:m

    - name: Build Tests
      run: dotnet build ./FmuImporter/BuildAll/BuildTests.csproj -v:m

    - name: Run Tests
      run: dotnet test ./FmuImporter/_build/crossplatform-x64-Release/FmuImporter.Tests.dll

  # Get environment variable for docker image URI and provide it to next build step
  prep-linux:
    runs-on: [Linux]
    outputs:
      image: ${{ steps.set_image.outputs.image }}
    environment: build-action
    steps:
      - id: set_image
        env: 
          DOCKER_IMAGE_URI: ${{ vars.DOCKER_IMAGE_URI }} 
        run: echo "image=${{vars.DOCKER_IMAGE_URI}}" >> "$GITHUB_OUTPUT"


  # Build the project, then remove the built artifacts
  build-linux:

    runs-on: [Linux, Docker]

    needs: prep-linux

    container:
      image: ${{ needs.prep-linux.outputs.image }}

    steps:
    - run: ls -la
    - run: pwd
    - run: rm -rfv ./FmuImporter/_obj
    - run: rm -rfv ./FmuImporter/_build
    - run: "echo ImageURI=${{needs.prep-linux.outputs.image}}"
    # Check out this Git repo
    - uses: actions/checkout@v3

    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '6.0.x'

    - name: Build & Publish
      run: dotnet build ./FmuImporter/BuildAll/Build.csproj -v:m

    - name: Build Tests
      run: dotnet build ./FmuImporter/BuildAll/BuildTests.csproj -v:m

    - name: Run Tests
      run: dotnet test ./FmuImporter/_build/crossplatform-x64-Release/FmuImporter.Tests.dll

    - if: always()
      run: rm -rfv * .??*
